@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-black: #000;
    --color-light-grey: #666666;
    --color-TuftsBlue: #4a90e2;
    --color-mostlyBlack: #232323;

    --font-family-base: "PT Sans", sans-serif;
    --font-family-accent: "Lato", sans-serif;

    --input-height: 50px;

    --container-width: 1170px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

}

body {
    font-family: var(--font-family-base);
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--color-light-grey);
}

a,
button,
input,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: var(--color-light);
}

a:hover {
    color: var(--color-light-grey);
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.button-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

p {
    margin-block: 0;
}

p:not([class]):not(:last-child) {
    margin-bottom: 24px;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
}

.header {
    padding-block: 34px;
    background-color: var(--color-black);
    color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header__menu-list {
    display: flex;
    gap: 37px;
}

.header-search__icon {
    width: 16px;
    height: 17px;
    fill: #fff;
    transition: fill .3s ease-in-out;
}

