@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light: #fff;
    --color-black: #000;
    --color-dark-grey: #171717;
    --color-light-grey: #666666;
    --color-TuftsBlue: #4a90e2;
    --color-mostlyBlack: #232323;

    --font-family-base: "PT Sans", sans-serif;
    --font-family-accent: "Lato", sans-serif;

    --header-height: 90px;
    --input-height: 50px;
    --border-radius: 5px;

    --container-width: 1170px;
    --container-padding-x: 15px;

    --transition-duration: 0.3s;
}

body {
    font-family: var(--font-family-base);
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--color-light-grey);
}

a,
button,
input,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.button-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

p {
    margin-block: 0;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: var(--color-light);
}

time {
    color: inherit;
}

.header {
    min-height: var(--header-height);
    background-color: var(--color-black);
    color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header__menu-list {
    display: flex;
    gap: 37px;
}

.header__menu-link {
    display: inline-flex;
    height: var(--header-height);
    align-items: center;
}

.header__menu-link:hover {
    color: var(--color-TuftsBlue);
}

.header-search__icon {
    width: 16px;
    height: 17px;
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.section-article {
    padding-top: 30px;
    padding-bottom: 80px;
    color: var(--color-light);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 28px;
}

.section-article__item {
    grid-column: span 4;
    grid-row: span 2;
}

.car-article__image img {
    border-radius: var(--border-radius);
}

.car-article__image::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5));
    pointer-events: none;
}



.section-article__item:first-child {
    grid-column: span 4;
    grid-row: span 4;
}

.car-article {
    position: relative;
}

.category {
    padding: 4px 12px 2px 12px;
    font-size: 12px;
    border-radius: var(--border-radius);
    color: var(--color-light);
    background-color: var(--color-TuftsBlue);
}

.car-article__meta {
    margin-bottom: 6px;
}

.article-meta {
    color: var(--color-light);
    font-style: italic;
    line-height: 1.28;
}

.article-date--normal {
    font-style: normal;
}

.car-article__category {
    position: absolute;
    top: 27px;
    left: 20px;
}

.car-article__description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 85px;
}

.article-title {
    color: var(--color-light);
    font-size: clamp(16px, 1.35vw, 26px);
}

.article-title a:hover {
    color: var(--color-TuftsBlue);
}


/* hero */
.article-hero__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.article-hero__main {
    margin-bottom: 67px;

}

.article-hero__main {
    max-width: 770px;
    width: 100%;
}

.article-hero__main-item {
    padding-bottom: 120px;
}

.article-hero__main-item:not(:last-child) {
    margin-bottom: 60px;
}


.hero-article-description {
    position: absolute;
    left: 50%;
    bottom: -27%;
    transform: translateX(-50%);
    max-width: 730px;
    width: 100%;
    padding: 30px 34px;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.hero-article-description__category {
    margin-bottom: 20px;
}

.hero-article-description__title {
    margin-bottom: 15px;
}

.hero-article-description__meta {
    margin-bottom: 14px;
}

.article-title--black {
    color: var(--color-dark-grey);
}

.article-meta--black {
    color: var(--color-light-grey);
}

.article-text {
    max-width: 614px;
}

.article-hero__right {
    max-width: 270px;
}

.article-hero__right__image {
    margin-bottom: 20px;
}

.article-hero__right-content {
    transform: translateX(0);
    box-shadow: none;
    padding: 0;
}

.article-hero__right-title {
    margin-bottom: 8px;
}

.article-hero__right-position {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #999;
}

.right-article-title {
    font-size: clamp(16px, 0.93vw, 18px);
    color: var(--color-dark-grey);
}